## branching with conditional 

![](https://i.imgur.com/7RfcHV0.png)

The condition can be a value, variable or expression. If the condition evaluates to True, then the statements within the if block are executed. Notice the four spaces before statement1, statement2, etc. The spaces inform Python that these statements are associated with the if statement above. This technique of structuring code by adding spaces is called indentation

>Indentation: Python relies heavily on indentation (white space before a statement) to define code structure. This makes Python code easy to read and understand. You can run into problems if you don't use indentation properly. Indent your code by placing the cursor at the start of the line and pressing the Tab key once to add 4 spaces. Pressing Tab again will indent the code further by 4 more spaces, and press Shift+Tab will reduce the indentation by 4 spaces.

In [1]:
##

In [2]:
a=34
if a%2==0:
    print('you are inside the if statement')
    print('{} is even'.format(a))

you are inside the if statement
34 is even

In [3]:
a=35
if a%2==0:
    print('you are inside the if statement')
    print('{} is even'.format(a))

As expected, since the condition `another_number % 2 == 0` evaluates to `False`, no message is printed. 

### The `else` statement

We may want to print a different message if the number is not even in the above example. This can be done by adding the `else` statement. It is written as follows:

```
if condition:
    statement1
    statement2
else:
    statement4
    statement5

```

If `condition` evaluates to `True`, the statements in the `if` block are executed. If it evaluates to `False`, the statements in the `else` block are executed.

In [4]:
a=35
if a%2==0:
    print('you are inside the if statement')
    print('{} is even'.format(a))
else: 
    print('you are inside the else statement')
    print('{} is odd'.format(a))

you are inside the else statement
35 is odd

In [5]:
friends=('arpit','ansul','pkp','rahul','gurpreet','pankaj')

In [6]:
a='rahul'
if  a in friends:
    print('{} is a friend'.format(a))
else:
    print('{} is not a friend'.format(a))

rahul is a friend

In [7]:
a='prof'
if  a in friends:
    print('{} is a friend'.format(a))
else:
    print('{} is not a friend'.format(a))

prof is not a friend

### The `elif` statement

Python also provides an `elif` statement (short for "else if") to chain a series of conditional blocks. The conditions are evaluated one by one. For the first condition that evaluates to `True`, the block of statements below it is executed. The remaining conditions and statements are not evaluated. So, in an `if`, `elif`, `elif`... chain, at most one block of statements is executed, the one corresponding to the first condition that evaluates to `True`.

Using `if`, `elif`, and `else` togetherÂ¶
You can also include an `else` statement at the end of a chain of if, elif... statements. This code within the else block is evaluated when none of the conditions hold true.

### nested if statement

In [8]:
a=20
if a%2==0: 
    print('the number {} is even'.format(a))
    if a%3==0:
        print('the number {} is divisible by 3'.format(a))
    else:
        print('the number {} is not divisible by 3 '.format(a))

if a%5==0:
    print('the number {} is divisible by 5'.format(a))

the number 20 is even
the number 20 is not divisible by 3
the number 20 is divisible by 5

### iteration with while loops

In [9]:
##finding the factorial of a number
global result

global i

def factorial(num):
    i=1
    result=1
    while i<= num:
        result=result*i
        i=i+1
    return print('the factorial of {} is {}'.format(num,result))

In [10]:
factorial(100)

the factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [11]:
result=1
i=1

while i<=100:
    result*=i
    i+=1
    
print('the factorial of 100 is {}'.format(result))

the factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [12]:
## checking the time of calculation
import time
start_time=time.time()

result=1
i=1

while i<=1000:
    result*=i
    i+=1
    
print('the factorial of 10 is :{}'.format(result))

print('time taken is :')
(time.time()-start_time)

the factorial of 10 is :402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
time taken is :

0.0039980411529541016

##### using the pattern make the following patterns.
        *
        **
        ***
        ****
        *****
        ******
        *******
        ********
        *********
        **********
        *********
        ********
        *******
        ******
        *****
        ****
        ***
        **
        *

In [13]:
i=1
back=10
star='*'
while i<=10 :
    print(star*i)
    i+=1

while back>=0:
    print(star*back)
    back-=1

*
**
***
****
*****
******
*******
********
*********
**********
**********
*********
********
*******
******
*****
****
***
**
*

Here's another one, putting the two together:


```
          *
         ***
        *****
       *******
      *********
     ***********
      *********
       *******
        *****
         ***
          *
```

In [14]:
##printing the output above
i=1
star='*'
key=" "
global back
back=11
space=5
while i<=11:
    print(space*key,star*i)
    i+=2
    space-=1

back=9
space=1

while back>=1:
    print((space)*key,star*back)
    back-=2
    space+=1

      *
     ***
    *****
   *******
  *********
 ***********
  *********
   *******
    *****
     ***
      *

In [15]:
##take the input rows from the user for diamond

### Infinite Loops

Suppose the condition in a `while` loop always holds true. In that case, Python repeatedly executes the code within the loop forever, and the execution of the code never completes. This situation is called an infinite loop. It generally indicates that you've made a mistake in your code. For example, you may have provided the wrong condition or forgotten to update a variable within the loop, eventually falsifying the condition.

If your code is *stuck* in an infinite loop during execution, just press the "Stop" button on the toolbar (next to "Run") or select "Kernel > Interrupt" from the menu bar. This will *interrupt* the execution of the code. The following two cells both lead to infinite loops and need to be interrupted.

### `break` and `continue` statements

You can use the `break` statement within the loop's body to immediately stop the execution and *break* out of the loop (even if the condition provided to `while` still holds true).

In [16]:
row=int(input('Enter the number of rows in diamond shape:'))
i=1
for i in range(row):
    print(i)

Enter the number of rows in diamond shape:5
0
1
2
3
4

### `break` and `continue` statements

You can use the `break` statement within the loop's body to immediately stop the execution and *break* out of the loop (even if the condition provided to `while` still holds true).

In [17]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1
    
print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

Logging: The process of adding print statements at different points in the code (often within loops and conditional statements) for inspecting the values of variables at various stages of execution is called logging. As our programs get larger, they naturally become prone to human errors. Logging can help in verifying the program is working as expected. In many cases, print statements are added while writing & testing some code and are removed later.

In [18]:
##example of logging print odd multiples of factorial 10
i=1
prod=1

while i<20:
    i+=1
    if(i%2==0):
        print('even num {} reached'.format(i))
        continue
    print('multiplying by number {} '.format(i))
    prod=prod*i
    
print('the product is {}'.format(prod))

even num 2 reached
multiplying by number 3
even num 4 reached
multiplying by number 5
even num 6 reached
multiplying by number 7
even num 8 reached
multiplying by number 9
even num 10 reached
multiplying by number 11
even num 12 reached
multiplying by number 13
even num 14 reached
multiplying by number 15
even num 16 reached
multiplying by number 17
even num 18 reached
multiplying by number 19
even num 20 reached
the product is 654729075

## Iteration with `for` loops

A `for` loop is used for iterating or looping over sequences, i.e., lists, tuples, dictionaries, strings, and *ranges*. For loops have the following syntax:

```
for value in sequence:
    statement(s)
```

The statements within the loop are executed once for each element in `sequence`. Here's an example that prints all the element of a list.

In [19]:
days=['Monday','Tuesday','Wednesday','Thursday','Friday']
for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [20]:
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [21]:
## looping over a dictionary
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print('key:',key,'values: ',person[key])

key: name values:  John Doe
key: sex values:  Male
key: age values:  32
key: married values:  True

Note that while using a dictionary with a `for` loop, the iteration happens over the dictionary's keys. The key can be used within the loop to access the value. You can also iterate directly over the values using the `.values` method or over key-value pairs using the `.items` method.

In [22]:
for values in person.values():
    print(values)

John Doe
Male
32
True

In [23]:
for items in person.items():
    print(items)

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

### Iterating using `range` and `enumerate`

The `range` function is used to create a sequence of numbers that can be iterated over using a `for` loop. It can be used in 3 ways:
 
* `range(n)` - Creates a sequence of numbers from `0` to `n-1`
* `range(a, b)` - Creates a sequence of numbers from `a` to `b-1`
* `range(a, b, step)` - Creates a sequence of numbers from `a` to `b-1` with increments of `step`

Let's try it out.

In [24]:
for i in range(7):
    print (i)

0
1
2
3
4
5
6

In [25]:
for i in range(3,15):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14

In [26]:
for i in range(3,17,4):
    print( i)

3
7
11
15

## Functions

A function is a reusable set of instructions that takes one or more inputs, performs some operations, and often returns an output. Python contains many in-built functions like `print`, `len`, etc., and provides the ability to define new ones.

In [27]:
def primary():
    print('hi how are you')
    print('how are you doing')

In [28]:
##invoking a function
primary()

hi how are you
how are you doing

Note the round brackets or parentheses `()` and colon `:` after the function's name. Both are essential parts of the syntax. The function's *body* contains an indented block of statements. The statements inside a function's body are not executed when the function is defined. To execute the statements, we need to *call* or *invoke* the function.

### Function arguments

Functions can accept zero or more values as *inputs* (also knows as *arguments* or *parameters*). Arguments help us write flexible functions that can perform the same operations on different values. Further, functions can return a result that can be stored in a variable or used in other expressions.

Here's a function that filters out the even numbers from a list and returns a new list using the `return` keyword.

In [29]:
def primary(name):
    print('hi {} :how are you?'.format(name))
    print('how are you doing')

In [30]:
primary('john')

hi john :how are you?
how are you doing

In [31]:
primary('jill')

hi jill :how are you?
how are you doing

In [32]:
def keep_even(number_list):
    even_list=list()
    for i in number_list:
        if i%2==0:
            even_list.append(i)
    return even_list

In [33]:
test_list=[1,2,3,4,5,6,7,8,9,20,22,12,12,14,15,56]
even=keep_even(test_list)

In [34]:
even

[2, 4, 6, 8, 20, 22, 12, 12, 14, 56]

In [35]:
test_list2=[1,3,5,7,9,11,13,115]
keep_even(test_list2)

[]

## Writing great functions in Python

As a programmer, you will spend most of your time writing and using functions. Python offers many features to make your functions powerful and flexible. Let's explore some of these by solving a problem:

> Radha is planning to buy a house that costs `$1,260,000`. She considering two options to finance her purchase:
>
> * Option 1: Make an immediate down payment of `$300,000`, and take loan 8-year loan with an interest rate of 10% (compounded monthly) for the remaining amount.
> * Option 2: Take a 10-year loan with an interest rate of 8% (compounded monthly) for the entire amount.
>
> Both these loans have to be paid back in equal monthly installments (EMIs). Which loan has a lower EMI among the two?


Since we need to compare the EMIs for two loan options, defining a function to calculate the EMI for a loan would be a great idea.  The inputs to the function would be cost of the house, the down payment, duration of the loan, rate of interest etc. We'll build this function step by step.

First, let's write a simple function that calculates the EMI on the entire cost of the house, assuming that the loan must be paid back in one year, and there is no interest or down payment.

Next, let's add the interest calculation into the function. Here's the formula used to calculate the EMI for a loan:

<img src="https://i.imgur.com/iKujHGK.png" style="width:240px">

where:

* `P` is the loan amount (principal)
* `n` is the no. of months
* `r` is the rate of interest per month

The derivation of this formula is beyond the scope of this tutorial. See this video for an explanation: https://youtu.be/Coxza9ugW4E .

In [36]:
## Make an immediate down payment of $300,000, and take loan 8-year loan with an interest rate of
## 10% (compounded monthly) for the remaining amount


def emi(amount,time,rate_of_interest,downpayment=0):
    loan=amount-downpayment
    rate=rate_of_interest/12
    time_in_months=time
    
    loan_amount=(loan*rate*((1+rate)**time))/(((1+rate)**time)-1)
   
    return loan_amount

In [37]:
## Make an immediate down payment of $300,000, and take loan 8-year loan with an interest rate of
## 10% (compounded monthly) for the remaining amount
emi1=emi(amount=1.26e6,
    rate_of_interest=0.1,
    time=96,
    downpayment=3e5)

In [38]:
## Option 2: Take a 10-year loan with an interest rate of 8% (compounded monthly) 
## for the entire amount

emi2=emi(amount=1.26e6,
        time=120,
        rate_of_interest=0.08)

In [39]:
print(emi1)
emi2

14567.19753389219

15287.276888775077

In [40]:
##rounding the emis to full dollars

import math
def emi(amount,time,rate_of_interest,downpayment=0):
    loan=amount-downpayment
    rate=rate_of_interest/12
    time_in_months=time
    
    loan_amount=(loan*rate*((1+rate)**time))/(((1+rate)**time)-1)
   
    return math.ceil(loan_amount)

In [41]:
emi1=emi(amount=1.26e6,
    rate_of_interest=0.1,
    time=96,
    downpayment=3e5)


emi2=emi(amount=1.26e6,
        time=120,
        rate_of_interest=0.08)

print(emi1)
print(emi2)

14568
15288

### Optional arguments

Next, let's add another argument to account for the immediate down payment. We'll make this an *optional argument* with a default value of 0.

In [42]:
##write a function to remove decimals
def ceiling(num):
    num_without_dec=int(num-(num%num))
    nex_num=num_without_dec+1
    return nex_num

In [43]:
ceiling(23.4853845)

24

> **Q**: Shaun is currently paying back a home loan for a house he bought a few years ago. The cost of the house was `$800,000`. Shaun made a down payment of `25%` of the price. He financed the remaining amount using a 6-year loan with an interest rate of `7%` per annum (compounded monthly). Shaun is now buying a car worth `$60,000`, which he is planning to finance using a 1-year loan with an interest rate of `12%` per annum. Both loans are paid back in EMIs. What is the total monthly payment Shaun makes towards loan repayment?

This question is now straightforward to solve, using the `loan_emi` function we've already defined.

In [44]:
##The two loans shaun has :
emi_home=emi(amount=0.8e6,
              downpayment=0.25*8e5,
              rate_of_interest=0.07,
              time=6*12)

emi_car=emi(amount=60e3,
            rate_of_interest=0.12,
            time=12)

In [45]:
total_emi=emi_car+emi_home
print('shaun pays {} $ as monthly emi'.format(total_emi))

shaun pays 15561 $ as monthly emi

### Exceptions and `try`-`except`

> Q: If you borrow `$100,000` using a 10-year loan with an interest rate of 9% per annum, what is the total amount you end up paying as interest?

One way to solve this problem is to compare the EMIs for two loans: one with the given rate of interest and another with a 0% rate of interest. The total interest paid is then simply the sum of monthly differences over the duration of the loan.

In [46]:
emi_with_interest=emi(amount=100000,rate_of_interest=0.09,time=120)

In [47]:
##gives an error zero division error
##emi_without_interest=emi(amount=100000,rate_of_interest=0.0,time=120)

 Something seems to have gone wrong! If you look at the error message above carefully, Python tells us precisely what is wrong. Python *throws* a `ZeroDivisionError` with a message indicating that we're trying to divide a number by zero. `ZeroDivisonError` is an *exception* that stops further execution of the program.

> **Exception**: Even if a statement or expression is syntactically correct, it may cause an error when the Python interpreter tries to execute it. Errors detected during execution are called exceptions. Exceptions typically stop further execution of the program unless handled within the program using `try`-`except` statements.

Python provides many built-in exceptions *thrown* when built-in operators, functions, or methods are used incorrectly: https://docs.python.org/3/library/exceptions.html#built-in-exceptions. You can also define your custom exception by extending the `Exception` class (more on that later).

You can use the `try` and `except` statements to *handle* an exception. Here's an example:

In [48]:
try:
    print("Now computing the result..")
    result = 5 / 0
    print("Computation was completed successfully")
except ZeroDivisionError:
    print("Failed to compute result because you were trying to divide by zero")
    result = None

print(result)

Now computing the result..
Failed to compute result because you were trying to divide by zero
None

In [49]:


def emi(amount,time,rate_of_interest,downpayment=0):
    loan=amount-downpayment
    rate=rate_of_interest/12
    time_in_months=time
    try:
        emi=(loan*rate*((1+rate)**time))/(((1+rate)**time)-1)
    except ZeroDivisionError:emi=loan/time
    return math.ceil(emi)

In [50]:
emi_without_interest=emi(amount=100000,rate_of_interest=0.0,time=120)

In [51]:
print(emi_without_interest)
print(emi_with_interest)

834
1267

In [52]:
total_interest_paid=(emi_with_interest-emi_without_interest)*120

print('the total interest paid is ${}'.format(total_interest_paid))

the total interest paid is $51960

### Documenting functions using Docstrings

We can add some documentation within our function using a *docstring*. A docstring is simply a string that appears as the first statement within the function body, and is used by the `help` function. A good docstring describes what the function does, and provides some explanation about the arguments.

In [53]:
def emi(amount,time,rate_of_interest,downpayment=0):
    '''calculates easy  monthly installment for a loan by envoking
    emi(amount,time(months),rate_of_interest(yearly),downpayment)
    arguments:loan=amount-downpayment
    rate=rate_of_interest/12
    time_in_months=time
    
    emi=(loan*rate*((1+rate)**time))/(((1+rate)**time)-1)
   
    '''
    loan=amount-downpayment
    rate=rate_of_interest/12
    time_in_months=time
    try:
        emi=(loan*rate*((1+rate)**time))/(((1+rate)**time)-1)
    except ZeroDivisionError:emi=loan/time
    return math.ceil(emi)

In [54]:
##to check the documentation
help(emi)

Help on function emi in module __main__:

emi(amount, time, rate_of_interest, downpayment=0)
    calculates easy  monthly installment for a loan by envoking
    emi(amount,time(months),rate_of_interest(yearly),downpayment)
    arguments:loan=amount-downpayment
    rate=rate_of_interest/12
    time_in_months=time

    emi=(loan*rate*((1+rate)**time))/(((1+rate)**time)-1)

In [57]:
!pip install jovian --upgrade --quiet
import jovian

In [59]:
jovian.commit()

[jovian] Committed successfully! https://jovian.ai/pranav-prabhakar1401/conditional-functions-loops

'https://jovian.ai/pranav-prabhakar1401/conditional-functions-loops'

## Exercise - Data Analysis for Vacation Planning

You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.


| City | Return Flight (`$`) | Hotel per day (`$`) | Weekly Car Rental  (`$`) | 
|------|--------------------------|------------------|------------------------|
| Paris|       200                |       20         |          200           |
| London|      250                |       30         |          120           |
| Dubai|       370                |       15         |          80           |
| Mumbai|      450                |       10         |          70           |         


Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
2. How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?
3. If your total budget for the trip is `$1000`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?
4. How does the answer to the previous question change if your budget is `$600`, `$2000`, or `$1500`?

*Hint: To answer these questions, it will help to define a function `cost_of_trip` with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the `math.ceil` function useful for calculating the total cost of car rental.*

In [60]:
def vac_cost(flight,hotel,car,weeks=1):
    '''flight_cost_twice=flight
        hotel_cost_day=hotel
        car_cost_week=car'''
    cost=flight*2+hotel*weeks*7+car*weeks
    
    return cost

In [61]:
paris_cost=vac_cost(flight=200,
                   hotel=20,
                   car=200)
paris_cost

740

In [62]:
london_cost=vac_cost(flight=250,
                   hotel=30,
                   car=120)
london_cost

830

In [63]:
dubai_cost=vac_cost(flight=370,
                   hotel=15,
                   car=80)
dubai_cost

925

In [64]:
mumbai_cost=vac_cost(flight=450,
                   hotel=10,
                   car=70)
mumbai_cost

1040

If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?

>*`go to paris`*

In [65]:
##lambda function

even=lambda num:num%2==0

In [66]:

even(2)

True

In [67]:
sum=lambda x=0,y=0,z=0:x+y+z

In [68]:
sum(2,3)

5

In [69]:
sum()

0

In [70]:
##map function
even=lambda a:a%2==0
lst=[1,2,3,4,5,5,6,7,7,8]
lst2=[1,2,3,4,5,6,7,8,8,9]

list(map(even,lst))

[False, True, False, True, False, False, True, False, False, True]

In [71]:
##filter function
list(filter(even,lst))

[2, 4, 6, 8]

In [72]:
list(filter(lambda a:a>3,lst))

[4, 5, 5, 6, 7, 7, 8]